<div class="serch-list-wrap">
  <header>
    <i class="iconfont icon-shouye" (click)='toHome()'></i>
        <div><i class="iconfont icon-sousuo"></i><input [(ngModel)]='search' (keyup)='change()'  type="text" placeholder="请输入关键词"></div>
    <i class="iconfont icon-pinglun"></i>
  </header>
  <ul class="serch-list">
    <li *ngFor="let item of list" (click)='toList($event,item.title)'>
      {{item.title}}
      <span *ngFor="let item1 of item.props" (click)='toList($event,item.title+" " + item1.title)'>{{item1.title}}</span>
    </li>
  </ul>
</div>